<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
	<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
	<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
	<title>CLAIM GENERATOR</title>
</head>
<body>
	<br />
	<div class="container">
	<div class="col-md-12">
		<nav class = "navbar navbar-default" role = "navigation">
		   <div class = "navbar-header">
		      <a class = "navbar-brand" href = "#">Car2Claim Dashboard</a>
		   </div>
		   <div>
		      <p class = "navbar-text navbar-right" style="margin-right:10%">
		         Signed In: Barrett
		      </p>
		   </div>
		</nav>
	</div>
		<br />
		<div class="col-md-12 well well-lg"  style="background-color: #EEEEEE; padding : 10px">
		<h1 style="    text-align: center;">Pro-active Alert Text</h1>
		<div style="background-color: #EEEEEE; padding : 10px">
			<img src="https://support.apple.com/library/content/dam/edam/applecare/images/en_US/iOS/iphone6-ios9-messages-imessage-text.jpg"   height="400" width="400"style="display:block;margin-left:auto;margin-right:auto;">
		</div>
			
					
			<br>
		
		</div>
		</div>
		<br />
		<div class="col-md-12 well well-lg" style="background-color: #E5DB97;">
			<form action="/claims">
				<input type="submit" value="Display Claim" />
			</form>
		</div>
	</div>
</body>
</html>
