
<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
	<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
	<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
	<title>CLAIM GENERATOR</title>
</head>
<body>
	<br />
	<div class="container">
	<div class="col-md-12">
		<nav class = "navbar navbar-default" role = "navigation">
		   <div class = "navbar-header">
		      <a class = "navbar-brand" href = "#">Car2Claim Dashboard</a>
		   </div>
		   <div>
		      <p class = "navbar-text navbar-right" style="margin-right:10%">
		         Signed In: Barrett
		      </p>
		   </div>
		</nav>
	</div>
		<br />
		<div class="col-md-12 well well-lg" style="background-color: #E5DB97;">
			<h1>
				We have populated 56 datasets for your claim, please navigate to the link below to complete your claim.
				Once you access the link below, you will be asked a series of questions to verify your identity. You may also choose
				to call 800-STATE-FARM (800-782-8332) and provide your claim number to one of our associates who can help you through 
				an express claim report using the pre-populated information provided.
			</h1>
			<br />
			<h2>Your Claim Number Is 00-0000-000</h2>
			<h2>http://www.statefarm.com/car2claim?claimNumber=00-0000-0000</h2>
		</div>
		<br />
		<div class="col-md-12 well well-lg" style="background-color: #E5DB97;">
			<form action="/dashboard">
				<input type="submit" value="Display Dashboard" />
			</form>
		</div>
	</div>
</body>
</html>
